* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  position: relative;
  background: #90CAF9;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    font-family: verdana;
    font-size: 6vw;
    color: #fff;
  }
}
